<div class="row" *ngIf="authService.userData as user">
    <mat-card class="profile-card">
        <mat-card-header>
            <mat-card-title>{{(user.displayName) ? user.displayName : 'User'}}</mat-card-title>
            <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{(user.photoURL) ? user.photoURL : '/assets/images/female.png'}}"
        alt="{{user.displayName}}">
        <mat-card-content>
            <p> </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button  (click)="authService.SignOut()">Logout</button>
        </mat-card-actions>
    </mat-card>
</div>