<form [formGroup]="signinForm" class="myForm">
  <h2>Regístrate</h2>
  <mat-form-field>
    <input matInput placeholder="Email" type="email" formControlName="email" autocomplete="email" required #userEmail>
    <mat-hint *ngIf="!emailInput.value">Escribe tu dirección de email</mat-hint>
    <mat-error *ngIf="!emailInput.valid">
      {{EmailInputError}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required
      #userPwd>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-hint *ngIf="!passwordInput.value">Escribe tu contraseña</mat-hint>
    <mat-error *ngIf="!passwordInput.valid">
      {{PasswordInputError}}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="authService.SignUp(userEmail.value, userPwd.value)"
    [disabled]="!signinForm.valid">Sign In</button>
  <p style="text-align:center;">or</p>
  <button mat-raised-button color="primary" (click)="authService.GoogleAuth()" id="google">
    <img class="s-logo" src="../../assets/images/google.svg" alt="">
    <span>Entra con Google</span>
  </button>
  <p>¿Ya tienes cuenta?</p>
  <div>
    <a routerLink="/sign-in" routerLinkActive="active">
      <mat-icon class="material-icons">how_to_reg</mat-icon><span class="navigation-item-label">Entra con tu
        usuario</span>
    </a>
  </div>

</form>
