@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
$flag-icon-css-path: '/assets/flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;
@import "~flag-icon-css/sass/flag-icon";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cursor-pointer {
    cursor: pointer;
}

form {
    width: 100%;
}

form > * {
    margin-bottom: 1.5em;
    width: 100%;
}

.sidenav-content {
    flex-direction: column;
}

.sidenav-container {
    height: 90%;
}

.app-content {
    flex: 1;
    margin: 0 auto;
    padding: 2em;
}

.cursor-pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

